@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&display=swap");

.signOut {
  background-color: transparent;
  color: lightgray;
  margin-top: 7px;
  font-size: 25px;
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  margin: 20px 0 auto;
  /* max-width: 1200px; */
}

.app-profiles {
  background-color: #292f38;
  width: 100vh;
  min-width: 250px;
  height: 700px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.app-details {
  background-color: #292f38;
  width: 100vh;
  min-width: 250px;
  height: 330px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.app-dms {
  background-color: #292f38;
  width: 100vh;
  min-width: 250px;
  height: 700px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.title-ask {
  margin-right: 30px;
}
.badge {
  background-color: transparent;
  color: grey;
  margin-right: 7px;
  font-size: 22px;
  border: none;
  outline: none;
}
.photo {
  background-color: transparent;
  color: lightgray;
  font-size: 30px;
  border: none;
  outline: none;
  cursor: pointer;
}
.user {
  background-color: transparent;
  color: lightgray;
  margin-left: 10px;
  font-size: 26px;
  border: none;
  outline: none;
  cursor: pointer;
}
.user-invalid {
  background-color: transparent;
  color: dimgray;
  margin-left: 10px;
  font-size: 26px;
  border: none;
  outline: none;
  cursor: none;
}

.trash {
  background-color: transparent;
  color: lightgray;
  font-size: 24px;
  border: none;
  outline: none;
  cursor: pointer;
}

h3 {
  color: black;
  font-family: "Comic Neue", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.task-list {
  width: 100%;
  margin: auto;
  max-height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.list-item h4 {
  color: lightgray;
  font-family: "Comic Neue", cursive;
}

.modal-title {
  text-align: center;
}

.btn-modal {
  background-color: transparent;
  color: gray;
  margin-right: 20px;
  font-size: 50px;
  border: none;
  outline: none;
  cursor: pointer;
}

.mail {
  background-color: transparent;
  color: lightgray;
  margin-right: 25px;
  font-size: 25px;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: 960px) {
  .container {
    margin: 40px auto auto auto;
    /* max-width: 1200px; */
  }

  .app-profiles {
    background-color: #292f38;
    width: 80%;
    min-width: 200px;
    padding: 10px;
    margin: 0 auto 10px;
    border-radius: 5px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  }

  .app-details {
    background-color: #292f38;
    width: 80%;
    min-width: 200px;
    padding: 10px;
    margin: 0 auto 10px;
    border-radius: 5px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  }

  .app-dms {
    background-color: #292f38;
    width: 80%;
    min-width: 200px;
    padding: 10px;
    margin: 0 auto 10px;
    border-radius: 5px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 480px) {
  .container {
    margin: 40px auto auto auto;
    /* max-width: 1200px; */
  }

  .app-profiles {
    background-color: #292f38;
    width: 90%;
    min-width: 200px;
    padding: 10px;
    margin: 0 auto 10px;
    border-radius: 5px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  }

  .app-details {
    background-color: #292f38;
    width: 90%;
    min-width: 200px;
    padding: 10px;
    margin: 0 auto 10px;
    border-radius: 5px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  }

  .app-dms {
    background-color: #292f38;
    width: 90%;
    min-width: 200px;
    padding: 10px;
    margin: 0 auto 10px;
    border-radius: 5px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  }
  .modal-title {
    font-size: 15px;
  }
}
